#overlay{
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#overlay-content{
    z-index: 4;
    height: 70%;
    width :70%;
    
    text-align: center;
    align-items: center;
    text-align: center;
    background: #242424;
    border-radius: var(--Box-Curve, 20px);
}

#backdrop{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#object-image{
    display: flex;
    width: 100%;
    height: 50%;
    
    align-items: center;
}

.overlay-object-image{
    position: relative;
    height: 100%;
    width: 100%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    opacity: 30%;
}

#object-logo-title{
    position: absolute;
    display: flex;
    width: 70%;
    height: 40%;
    align-items: center;
    left: 20%;
}

#object-logo{
    height: 50%;
    width: 20%;
    border-radius: 1em;
}

#object-title{
    padding-left: 1em;
    font-size: 4rem;
    
}
