.experience-card{
    transition : 1000ms;
    margin-right: 1em;
    height: 20em;
    width: 30em;
    
}

.experience-card-hover{
    transition : 1000ms;
    width: 35em;
    height: 22em;
    border: none;
    background-color: transparent;
    
}

.experience-card button{
    border: none;
    border-radius: 5%;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.experience-image{
    height: 100%;
    width: 100%;
    border-radius: 1em;
}





