.project-li-container{
    width: 90vw;
    display: -webkit-inline-box;
    vertical-align: middle;
}

.heart{
    width: 3em;
    height: 3em;
    /*margin-top: 3%;*/
}

.project-pic-and-name{
    display: flex;
    align-items: center;
    width: 27vw;   
}

.project-li{
    width: 95%;
}

.project-li a{
}

.project-li::marker{
    font-size: xx-large;
}

.project-description{
    /*margin-top: 3%;*/
}

.project-name-and-languages{
    /*margin-top: 5%;*/
    
}

.name-and-languages{
    margin: 0px;
    padding: 0px;
}

.project-description-div{
   width: 40vw;
   display: flex;
   padding-left: 10%;
   align-items: center;
   overflow: hidden;
    text-overflow: ellipsis;
}

.project-image-div{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 5vw;
}

.project-image{
    height: 7em;
    width: 7em;
}

